body {
    font-family: Arial, sans-serif;
    background-color: #9EB8D9;
    min-width: 800px
}

.hidden {
    display: none;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #666;
    margin-bottom: 5px;
    margin-top: 15px;
}
.predictionPoint, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 20px auto;
    background-color: #EEF5FF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-label input[type="checkbox"],
.checkbox-label label {
    margin-right: 10px;
    vertical-align: middle;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.inputDiv input[type="checkbox"] {
    margin-bottom: 10px;
}

.inputDiv input[type="number"] {
    padding: 10px;
    border: 2px solid #A25772;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.inputDiv label {
    margin-bottom: 10px;
}

.predictionPoint input[type="number"] {
    margin-bottom: 10px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #A25772;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-div {
    width: 100%;
}

.input-div input[type="number"] {
    margin-bottom: 5px;
    margin-top: 5px;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 60%;
    margin: 20px auto;

}

#startButton, #uploadButton {
    width: 40%;
}

#startButton {
    background-color: #7C93C3;
    color: white;
}

button {
    display: inline-block;
    padding: 10px;
    color: #7C93C3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#uploadButton {
    display: inline-block;
    padding: 15px;
    border: 2px solid #A25772;
    border-radius: 4px;
    cursor: pointer;
}

#temporary-data-storage-div {
    display: none;
}

.figure-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
}

.output-class {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
}

.figure-container h2 {
    text-align: center;
}
.figure-container h3 {
    text-align: center;
}

.canvas {
    background-color: #e8eff8;
}

.output-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}